<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StateMachine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93DAD8EE1A5646BB00183048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93DAD8F91A5646BB00183048</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F45C351A5B275A001B8A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F45C401A5B275A001B8A7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
